

.Parentbox{
  width: 80%;
  overflow: hidden;
  margin: auto;
  margin-top: 100px;
}

.Foto{
  float: left;
  width: 50%;
  height: 710px;
  background: whitesmoke;
  border-radius: 1000px;
}

.Foto img{
  width: 770px;
  border-radius: 1000px;
}

.Deskripsi{
  width: 40%;
  overflow: hidden;
  float: left;
  margin-left: 100px;
}

.Deskripsi .Info {
  line-height: 1.8;
  color: rgb(18, 11, 49);
}

.Deskripsi .Price{
  font-size: 20px;
  font-weight: 500;
}

.Deskripsi .Title {
  margin: 0;
}

.Deskripsi .Cate {
  color: #000000;
}
.Deskripsi .vanilla{
  width:70px;
  height: 40px;
  background-color  : pink ;
  margin-right: 30px;
}
.Deskripsi .vanilla:hover{
  background-color: aqua;
}
.Deskripsi .incest{
  width:70px;
  height: 40px;
  background-color  : pink ;
  margin-right: 30px;
}
.Deskripsi .incest:hover{
  background-color: aqua;
}
.Deskripsi .harem{
  width:70px;
  height: 40px;
  background-color  : pink ;
  margin-right: 30px;
}
.Deskripsi .harem:hover{
  background-color: aqua;
}
.Deskripsi .ntr{
  width: 70px;
  height: 40px;
  background-color: pink;
}
.Deskripsi .ntr:hover{
  background-color: aqua;
}

.Deskripsi .pilih{
  margin-top: 80px;
  width: 100px;
  height: 40px;
  background-color:blue;
}
.Deskripsi .pilih:hover{
  background-color: aqua;
}
